.hot-deal,
.fashionn {
    /* background-image: url(../../../../assets/hotdeal.jpg); */
    background:
        linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(../../../../assets/hotdeal.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    position: relative;
    z-index: 333;
    display: grid;
    gap: 25px;
    grid-template-columns: 250px 1fr;
    padding: 50px 15px;
}

.hot-deal .special-items {
    /* background-color: #1f93ff; */
    /* background-color: #0f5069e8; */
    background-color: #19252c;
    /* background-color: #05bbfe; */
    /* background-color: #477cff; */
    height: fit-content;
}

.special-items .item {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-between; */
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;

}

.special-items .item::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #477cff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.special-items .item img {
    width: 70px;
    height: 70px;
    margin-right: 25px;
}

/* ////////////////////// */
.add {
    visibility: hidden;
    opacity: 0;
    transition: 3s visibility, .3s opacity, 1s transform;
    transform: translateY(0px);
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

.deals>h2 {
    text-align: center;
    transform: translateY(-15px);
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    font-weight: 500;
    color: #05bbfe;
}



.deals .carousel .cards {
    display: flex;
    justify-content: space-evenly;
    height: 270px;
    /* display: grid; */
    /* gap: 10px; */
    /* grid-template-columns: 250px, 250px, 250px, 250px; */
    /* width: 100%; */
}

.deals .carousel .cards .card {
    width: 250px;
    height: 280px;
    /* background-color: rgb(54, 59, 65); */
    background-color: rgb(25, 80, 105, 0.7);
    color: white;
    text-align: center;
}

.deals .carousel .cards .card p {
    font-size: 1rem;
    margin-top: 10px;
}

.deals .carousel .cards .card img {
    width: 100%;
    height: 140px;
    transition: .7s filter;
}

.deals .carousel .cards .card:hover .add {
    visibility: visible;
    opacity: 1;
    transform: translateY(-53px);
}

.deals .carousel .cards .card:hover>img {
    filter: contrast(.5);
}

/* //////////end hot deal//////////// */
@media(max-width:1200px) {

    .hot-deal {
        display: grid;
        gap: 25px;
        grid-template-columns: 25% 72%;
        padding: 25px 15px;
        background-image: url(../../../../assets/background.png);
    }

    .deals .carousel .cards {
        height: 230px;
        font-size: .8rem;
    }

    .deals .carousel .cards .add {
        padding: 10px;
    }

    .deals .carousel .cards .card:hover .add {

        transform: translateY(-31px);
    }



    .deals .carousel .cards .card p {
        font-size: .7rem;
    }
}


@media(max-width:768px) {

    .hot-deal {
        display: grid;
        gap: 25px;
        grid-template-columns: 100%;
        padding: 25px 15px;
        background-image: url(../../../../assets/background.png);
    }




}

@media(max-width:576px) {
    .deals {
        display: none;
    }
}

/* /////////////////////// */
.carousel {
    position: relative;
}

.carousel.pointer-event {
    touch-action: pan-y
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: ""
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .carousel-item {
        transition: none
    }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block
}

.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
    transform: translateX(100%)
}

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%)
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none
}

.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end,
.carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1
}

.carousel-fade .active.carousel-item-end,
.carousel-fade .active.carousel-item-start {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s .6s
}

@media (prefers-reduced-motion:reduce) {

    .carousel-fade .active.carousel-item-end,
    .carousel-fade .active.carousel-item-start {
        transition: none
    }
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease
}

@media (prefers-reduced-motion:reduce) {

    .carousel-control-next,
    .carousel-control-prev {
        transition: none
    }
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: -38px;
    left: 0;
}

.carousel-control-next {
    right: -38px;
    right: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") */
}

.carousel-control-next-icon {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") */
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease
}

@media (prefers-reduced-motion:reduce) {
    .carousel-indicators [data-bs-target] {
        transition: none
    }
}

.carousel-indicators .active {
    opacity: 1
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000
}

.carousel-dark .carousel-caption {
    color: #000
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon,
[data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: #000
}

[data-bs-theme=dark] .carousel .carousel-caption,
[data-bs-theme=dark].carousel .carousel-caption {
    color: #000
}