.admin {
    background-image: url(../../assets/About-Us-BG-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #06090d;
    color: white;
    /* min-height: 100vh; */
    /* padding: 6rem 4rem; */
    /* justify-content: space-between; */
    /*  */
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
}

.admin .navbar {
    /* width: 25%; */
    min-height: 80vh;
    color: white;
}

.admin .content {
    /* width: 75% !important; */
    padding: 0 1rem;
}

@media screen and (max-width: 1400px) {
    .admin .content {
        width: 60%;
    }

}

@media screen and (max-width: 800px) {

    .admin {
        display: block;
    }

    .admin .navbar {
        min-height: auto;
        width: 100%;
    }

    .admin .content {
        width: 95% !important;
        margin: auto;
    }

}